<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">

</head>
<body>
    <div id="app" style="padding:20px">
        <label>Start Id</label> <input type="text" v-model="start">
        <br/>
        <label>End Id</label> <input type="text" v-model="end">
        <br/>
        <button @click="init">Start</button>
        <br/>
        <p>SVG's received (SVG elements received from DB): {{svgReceived}}</p>
        <p>SVG's no response (GET returned empty response):{{noResponseSvg}}</p>

        <p>SVG's processed (JSON sent to DB for storing): {{svgProcessed}}</p>
       
        <p>SVG's to delete (marks for the SVG is empty): {{svgToDelete}}</p>
    </div>
        
</div>
</body>
<script src="js/decon.js"></script>
<script src="js/process.js"></script>
</html>
